BasicInteraction/BasicInteraction.iOS/obj/iPhoneSimulator/Debug/BasicInteraction.iOS.csproj.FileListAbsolute.txt
BasicInteraction/BasicInteraction/obj/Debug/netstandard2.0/BasicInteraction.assets.cache
BasicInteraction/BasicInteraction/obj/Debug/netstandard2.0/BasicInteraction.csproj.FileListAbsolute.txt
NavigationRecipe/.vs/NavigationRecipe/xs/UserPrefs.xml
MVVMRecipe/.vs/MVVMRecipe/xs/UserPrefs.xml
LicenseRecipe/.vs/LicenseRecipe/xs/UserPrefs.xml
